/*Browser Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;	
}

body {
	background: rgba(196,225,197, 0.45);
}

html {
	scroll-behavior: smooth;
}

/*Header Nav style starts here*/

nav img {
	width: 6.25em;
	background-color: #C49788;
}

nav {
	margin: 0;
	position: fixed;
}

#header-nav {
/*	position: fixed;*/
width: 6.25em;
margin-top: -4px;
background-color: #fff;
}

#header-nav nav .fa {
	display: block;
}

#video-play-icon {
	font-size: 2rem;
	padding: 25px;
}

#header-nav li {
	border-bottom: 1px solid #e7e7e7;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	display:block;
	text-align: center;
	transition: all 0.2s ease-in-out;
}

#header-nav li a {
	text-decoration: none;
	display: block;
	padding: 20px 15px;
}
#header-nav li i {
	color:#fff;
	padding:0 20px;
}
#header-nav li span {
	padding: 15px 0;
	display: none;
	color: #DDB7B9;
	font-size: 0.9rem;
}
#header-nav a:hover {
	color: #fff;
}
#header-nav a:hover i {
	display: none;
}
#header-nav a:hover span {
	display: block;
}

/*Nav style end*/

/*Hero Section*/

#hero-container {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 250px;
	left: 150px;
}

.welcome {
	font-weight: 700;
	opacity: 0.2;
	font-size: 5.5rem;
	position: absolute;
	top: -70px;
	left: 0;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000;
	color: transparent;
}

#hero-container #intro h2 {
	font-size: 60px;
	font-weight: 750;
	line-height: 1.2;
	margin-bottom: 10px;
	position: relative;
	top: -25px;
	left: 12px;
	color: #202942;		
}

#hero-container #intro h2 span {
	font-weight: 600px;
}

#hero-container #intro h3 {
	color: #202942;
	font-size: 30px;
	position: relative;
	left: 15px;	
}

#hero-container #intro a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	position: relative;
	left: 25px;
	top: 50px;
	padding: 20px 45px;
	background-color: #040836;
	border-radius: 35px;
}

#hero-image {
	position: absolute;
	top: -350px;
	left: 500px;
}

#hero-image img {
	width: 600px;
	height: 800px;
}
#social-links {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 1100px;
}

#social-links a .fa {
	margin-bottom: 50px;
	font-size: 25px;
	color: #202942;		
}

/*Header Nav style ends here*/

/*Main style starts here*/


/*Expertise section style*/
#expertise {
	background-color: #F9F7E8;
	margin-right: 60px;
	margin-left: 160px;	
	position: relative;
	top: 700px;

}

#skills {
	display: flex;
}

#skills a {
	text-decoration: none;
	margin: 20px 0;
	color: #000;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
}
#skills a:hover {
	color: #ff0159;
}
#skills img {
	width: 70px;
	height: 70px;
}
#expertise h2 {
	text-align: center;
	padding-top: 20px;
	font-size: 2.5rem;
	color: #202942;
}

#expertise h3 {
	text-align: center;
	color: #fd1d1d;
	padding-top: 90px;	
	font-weight: 600;
}

#skills #web-design, #app-design, #ux-design {
	display: flex;
	flex-direction: column;
	padding: 40px;
	line-height: 1.5;
}

#skills hr {
	color: #E0E4EC;
	margin-top: 50px;
	margin-bottom: 20px;
}

/*Portolio sectino style*/

#portfolio-container {
	display: flex;
	margin-left: 150px;
	margin-top: 52em;

}


.portfolio-head p {
	color: #ff0159;
	font-weight: 800;
	margin-left: 0px;
}

.portfolio-head h3 {
	margin-top: 15px;
	font-size: 2.5rem;
	font-weight: 900;
	line-height: 1;
	color: #202942;
}

.completed-project {
	display: flex;
	margin-left: 200px;
}

.completed-project h3, .completed-project p {
	display: flex;
	flex-direction: column;
	margin: 0 40px;
}

.completed-project hr {
	height: 6.25em;

}

.completed-project h3 {
	font-size: 3.5rem;
	font-weight: 900;
	color: #202942;
}

.completed-project p {
	font-weight: 600;
	color: #666666;
}

#projects {
	margin-left: 150px;
	margin-top: 50px;
	margin-right: 50px;
}

#projects img {
	width: 370px;
	height: 300px;
	position: relative;
}

.first-three-portfolio, .second-three-portfolio {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.details {
	display: none;
}

.details p {
	margin-left: 0;
	margin-bottom: 8px;
	margin-right: 180px;
}

.details i {
	
	border-radius: 100%;
	border: 1px solid #666666;
	padding: 15px;
	color: #666;
	margin-left: 18px;
}

.details a {
	text-decoration: none;
	color: #000;
}

.details a:hover, i:hover {
	color: #ff0159;
}

.first-project:hover .details, .second-project:hover .details {
	display: flex;
	background-color: #fff;
	padding: 14px;
	margin-top: -80px;
	position: relative;
	max-width: 100%;
}

/*About section style*/

#about {
	margin-left: 180px;

}

.about-container {
	display: flex;
	margin-top: 150px;
	justify-content: space-between;
}

.about-image {
	background-color: #D2063B;
	border-radius: 100%;
}

.about-image img {
	position: relative;
	bottom: 6.25em;
}

.about-me {
	margin-left: 130px;
}

.about-me h3 {
	color: #ff0159;
	padding: 10px;
}

.about-me h4 {
	color: #202958;
	padding: 10px;
	font-size: 1.5rem;

}

.about-me p {
	margin-left: 10px;
	line-height: 2;
	color: #7F7573;
}

.full-stack {
	display: flex;
}

.full-stack img {
	width: 6.25em;
	height: 6.25em;
}

.full-stack p {
	font-weight: bold;
	font-size: 1.2rem;
}


/*Resume section style*/

#resume {
	margin-left: 9.375em;
	margin-top: 6.25em;
	margin-right: 3.125em;
	position: relative;

}

.resume-container {
	display: flex;
	background-color: #F4F7ED;
}

.resume-heading-container {
	display: flex;
	justify-content: space-around;
	padding: 0.625em;
	position: absolute;
	border-radius: 6.25em;
	background-color: #fff;
	width: 55rem;
	left: 7em;
	top: -30px;
}

.resume-heading-container a {
	text-decoration: none;
	color: #000;
}

.resume-details-container {
	display: flex;
	justify-items: center;
}

.biography, .skills, .education {
	display: flex;
	padding: 20px;
	text-align: center;
	font-weight: bold;
	position: relative;
}

.biography-link, .skills-link, .education-link {
	display: flex;
	justify-content: space-between;
}
.biography-link div, .skills-link div, .education-link div {
  flex: 1; 
  margin-right: 80px; 
}

.biography-link div:last-child, .skills-link div:last-child, .education-link div:last-child {
  margin-right: 0; 
}
.active{
	background-color: #040836;
	border-radius: 40px;
	color: #fff;
}

.active p {
	color: #fff;
}

.biography-link p:last-child::before {
	content: "";
	position: absolute;
	background-color: #000;
	color: currentColor;
	width: 45px;
	height: 1px;
	top: 28px;
	left: 135px;
}


.skills-link p:last-child::before {
	content: "";
	position: absolute;
	background-color: black;
	width: 40px;
	height: 1px;
	top: 28px;
	left: 100px;
}
.education-link p:last-child::before{
	content: "";
	position: absolute;
	background-color: black;
	width: 45px;
	height: 1px;
	top: 28px;
	left: 130px;
}


/*
.skills a:hover, .education a:hover, .biography a:hover {
	background-color: #040836;
	color: #fff;
	border-radius: 3.125em;
}*/


.resume-detail-left {
	margin: 6.25em 1.25em 1.25em 3.75em;
	width: 31.25em;
	padding: 10px;
}

.resume-detail-right {
	margin: 6.25em 0em 1.25em 2.5em;	
	width: 28.125em;
	padding: 10px;

}

.first-detail, .second-detail, .third-detail, .fourth-detail, .fifth-detail, .sixth-detail {
	display: flex;
	padding: 0.938em 0;
	justify-content: space-between;
	border-bottom: 1px solid #9A9A9A;

}

.resume-detail-left-value, .resume-detail-right-value {
	color: #959795;
	font-weight: 500;
	margin-right: 0;
}

.info {
	color: #202942;
	font-weight: bold;
	margin-left: 0;
}

/*Contact Styling*/

#contact {
	margin-left: 150px;
}



.contact-form {
	background-color: #F4F6EE;
	padding:50px;
	width: 700px;
	margin-top: 60px;
	background-color: rgba(244, 247, 237, 0.5);
	
}

.contact-form h3 {
	font-size: 2rem;
	color: #202942;
	margin-left: 7px;
	margin-bottom: 15px;
}

.contact-form p {
	margin-left: 7px;
	margin-bottom: 15px;
	color: #767674;
	font-size: 17px;
}
.footer-contact {
	display: flex;
	justify-content: space-around;
}
input {
	border: 0.5px solid #fff;
	padding: 10px;
	margin: 8px;
	
}
input[placeholder] {
	font-size: 18px;
	
}
input[id="name"] {
	width: 580px;	
}

input[id="email"] {
	width: 280px;
	
}

input[id="phone"] {
	width: 280px;
}

textarea {
	font-size: 18px;
	width: 580px;
	height: 300px;
	resize: vertical;
	border: 0.5px solid #fff;
	padding: 10px;
	margin: 8px;
} 

textarea::placeholder {
	font-size: 18px;
}

button {
	padding: 20px;
	background-color: #FF014F;
	border: 0px;
	font-size: 18px;
	color: #fff;
	border-radius: 60px;
	width: 250px;
	margin-left: 7px;
	margin-top: 6px;
	cursor: pointer;
}

button:hover {
	background-color: #040836;	
}

input:focus, textarea:focus {
	border:5px #CD9393 solid;	
}

.contact-details {
	position: relative;
	top: 80px;
	bottom: 0;
	left: 15px;
}

.myEmail i {
	background-color: #00C0FF;
	width:70px;
	height: 70px;
	padding: 18px;
	color: #fff;
	border-radius: 5px;
}

.myPhoneNumber i {
	background-color: #FEC447;
	width:70px;
	height: 70px;
	padding: 18px;
	color: #fff;
	border-radius: 5px;
}

.myAddress i {
	background-color: #FF014F;
	width:70px;
	height: 70px;
	padding: 20px 20px 20px 25px;
	color: #fff;
	border-radius: 5px;

}
.myEmail, .myPhoneNumber, .myAddress {
	display: flex;
	padding: 30px;
}

.myEmail p, .myPhoneNumber p, .myAddress p {
	margin-left: 15px;
	font-weight: bold;
	color: #273048;
}

.myEmail h6, .myPhoneNumber h6, .myAddress h6 {
	margin-left: 15px;
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: normal;
	color: #202942;
}

/*Footer Style*/
footer {
	background-color: #040836;
	height: 100px;
	margin-top: 80px;
}

.footer-container {
	display: flex;
	justify-content: space-between;

}

.copyright-container p {
	margin-top: 50px;
}
.copyright-container {
	margin-left: 80px;
	color: #D9D9E0;

}
.footer-links {
	margin-top: 50px;
}
.footer-links a {
	margin: 15px;
	
	color: #D9D9E0;
	text-decoration: none;
	flex-direction: space-around;
}



/*Styling for mobile phone*/


@media only screen and (max-width: 480px) {

	nav {
		position: relative;

	}

	.nav-logo {
		width: 100vw;
		background-color: #fff;
		height: 6.25em;
		text-align: center;
	}

	#intro {
		width: 95vw;
	}
	#hero-container #intro a {
		left: 0;
		top: 0;
	}

	.resume {
		text-align: center;
		margin-top: 65px;
	}

	#hero-container {
		
		left: 0;
		top: 220px;
	}

	#header-nav {
		position: absolute;
		
	}	
	#header-nav li {
		display: none;
	}

	#hero-container #intro h2 {
		text-align: center;
		font-size: 2.5em;
		top: 0;
	}

	#hero-image {
		top: 120px;
		left: -10px;
/*		position: relative;*/
}

#hero-container #intro h3 {
	font-size: 2em;
	text-align: center;
}

#hero-image img {
/*		width: 24em;*/
max-width: 100%;
height: 35rem;
}

.welcome{
	display: none;
}



.nav-bar-list{
	display: none;
}

#video-play-icon {
	display: none;
}

#social-links{
	display: none;
}

#expertise {
	top: 800px;
	margin: 0;
	background-color: #fff;

}


#expertise h3 {
	padding-top: 50px;
}

#skills {
	flex-direction: column;
	text-align: center;
}

#skills #web-design, #app-design, #ux-design {
	text-align: center;
	align-items: center;


}

#web-design p {
	padding: 10px 30px;
	margin: 0;
}

#portfolio-section {
	background-color: #fff;

}

#portfolio-container {
	flex-direction: column;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 50em;
}

.portfolio-head h3 {
	font-size: 1.8rem;
	text-align: center;
	font-weight: 700;
	line-height: 1.5;
}

.portfolio-head p {
	margin-top: 50px;
	text-align: center;
	font-weight: normal;
	font-size: 1.5em;
}

#projects img {
	max-width: 100%;
	width: 100%;
}

.completed-project {
	margin-left: 10px;
	flex-direction: column;
}

.completed-project hr {
	height: auto;
}
.completed-project-header {
	padding: 25px;
	text-align: center;
}
.completed-project h3, .positive-rating h3 {
	font-size: 2em;
	text-align: center;
	margin-top: 25px;
}


.completed-project p {
	text-align: center;
}

.first-three-portfolio, .second-three-portfolio {
	flex-direction: column;
}

#about {
	
	margin: 0;
}

.about-image img {
	max-width: 100%;
}

.about-image {
	margin: 90px 20px 0px 20px;
	
}
.about-me {
	margin: 10px;
	text-align: center;
}

.about-container {
	flex-direction: column;
	margin-top: 0;
}

.full-stack {
	flex-direction: column;
	justify-content: center;
	
}


.footer-contact {
	flex-direction: column;
}


.resume-heading-container {
	position: relative;
	left: 0;
	flex-direction: column;
	background-color: transparent;
	max-width: 100%;
	margin-top: -50px;
}


#resume {
	margin-left: 10px;
	margin-top: 100px;
	margin-right: 10px;

}
.resume-details-container {
	flex-direction: column;
}

.resume-container {
	flex-direction: column;
	height: auto;
}
.resume-detail-left {
	width: auto;
	margin: 0;
}

.resume-detail-right {
	width: 100%;
	margin: 0;
}

.first-detail, .second-detail, .third-detail, .fourth-detail, .fifth-detail, .sixth-detail {
	flex-direction: column;
}
.biography {
	margin-left: 10px;
}

#contact {
	margin-left: 10px;
}

.contact-form {

	padding:50px;
	width: 80vw;
	margin-top: 60px;
	background-color: rgba(244, 247, 237, 0.5);

}

input[id="name"] {
	width: 280px;	
}

textarea {

	width: 280px;
	height: 300px;

} 

#skills #web-design, #app-design, #ux-design {
	padding: 10px;
}


#projects {
	margin: 10px;
}


}
